* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: pink;
    --secondary: aquamarine;

}

@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

body {
    background-image: url(./images/bubbles.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


/* Header */
header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--secondary);
    height: 12vh;
    width: 100vw;
    border-bottom: 7px solid purple;
    font-family: 'Ibarra Real Nova', serif;
}

.time {
    margin: 5px;
    margin-right: 2em;
    padding: 5px;
    font-size: 30px;
    font-family: 'Ibarra Real Nova', serif;
    align-items: center;
    background-color: var(--primary);
    border: 3px dashed #fff;
}

.highscore {
    margin: 20px;
    margin-left: 2em;
    padding: 5px;
    font-size: 30px;
    font-family: 'Ibarra Real Nova', serif;
    background-color: var(--primary);
}

.highscore:hover {
    box-shadow: 2px 2px 3px plum;
}


/* Quiz Area */
.start-button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.start {
    width: 100%;
    height: 80%;
    padding: 1em 3em;
    border-radius: 1em;
    font-size: 40px;
    font-weight: bolder;
    background-image: linear-gradient(
        rgba(255, 192, 203, 0.3) 0%,
        rgba(127, 255, 212, 0.6) 100%
    );
}

.start:hover {
    box-shadow: inset 2px 4px 4px 7px var(--primary);
}

.start:active {
    padding: 2em 7em;
}

.quiz-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
}

.q-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 60vw;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Ibarra Real Nova', serif;
    text-align: center;
    background-color: var(--secondary);
    border: 5px solid var(--primary);
}

.a-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 40vh;
    width: 60vw; 
    background-color: var(--primary);
    border: 5px solid var(--secondary);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: space-around;
}

.answer {
    width: 30%;
    height: 30%;
    margin: 30px;
    padding: 5px; 
    font-size: 20px;
    font-weight: 600;
    font-family: 'Ibarra Real Nova', serif;
    background-color: var(--secondary);
}

.answer:hover {
    box-shadow: 1px 2px 2px 5px green;
}

#result {
    font-size: 40px;
    font-weight: 700;
    margin: 10px;
}


/* Score section */
.score-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 5px solid var(--primary);
    background-color: var(--secondary);
    height: 30vh;
    width: 60vw;
}

#score-text {
    font-size: 40px;
    font-weight: bold;
}

.try-again,
.return-start {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
    border-radius: .5em;
    padding: 10px 20px;
    background-image: linear-gradient(
        rgba(255, 192, 203, 0.3) 0%,
        rgba(127, 255, 212, 0.6) 100%
    );
}

.try-again:hover,
.return-start:hover {
    box-shadow: 3px 3px 4px var(--primary);
    box-shadow: inset 3px 3px 5px 5px var(--primary);
}


/* Form Container */
.form-container {
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: var(--primary);
    border: 5px solid var(--secondary);
}

#intials {
    margin: 5px;
    padding: 10px;
    border: 3px solid var(--secondary);
    border-radius: .6em;
    width: 50%;
}


/* Scoreboard */
.score-board {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.scoreboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 5px solid var(--primary);
    background-color: var(--secondary);
    height: 30vh;
    width: 40vw;
    font-size: 25px;
    font-weight: bold;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
    height: 20vh;
}

#clearBtn {
    margin: 10px;
    padding: 15px;
    width: 100%;
    height: 100%;
    background-color: darkblue;
    color: #fff;
    border: 3px solid var(--secondary);
    border-radius: .7em;
}

#clearBtn:hover {
    box-shadow: 3px 3px 5px 7px var(--primary);
}

#clearBtn:active {
    padding: 17px;
    color: green;
}

#returnBtn {
    padding: 15px;
    background-color: darkblue;
    color: #fff;
    border: 3px solid var(--secondary);
    border-radius: .7em;
}
    
#returnBtn:hover {
    box-shadow: 3px 3px 5px 7px var(--primary);
}
    
#returnBtn:active {
    padding: 17px;
    color: green;
}


/* Media Queries */
@media screen and (max-width: 980px) {
    .time,
    .highscore {
        font-size: 13px;
    }

    #form {
        font-size: 10px;
    }

    .answer {
        font-size: 7px;
        margin: 15px;
    }

    .scoreboard-container {
        font-size: 10px;
    }

    #score-text,
    #question {
        font-size: 20px;
    }
   
}
